/* Estilos main-index */

main section{
    background-color: #393B43;
    h1{
        padding: 20px;
        font-size: 50px;
        text-align: center;
        color: white;
    }
    .conteiner-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .card{
        width: 350px;
        height: 380px;
        margin: 10px;
    }

    .card img{
        width: 100%;
        height: 300px;
        object-fit: contain;
    }

    .card h2{
        font-size: 30px;
        color: white;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
}